$white: rgb(255, 255, 255);
$shadow: rgba(0, 0, 0, .7);
$error:  rgb(255, 51, 51);
$black: rgb(0, 0, 0);
$lightblue: rgb(40, 177, 255);
$lightgrey: rgb(54,56,57);
$verylightgrey: rgb(186, 186, 186);
$green: rgb(159,205,77);
