@import '../../sass/utils/variables';

#chart-continer{

  .panel-custom {
    background-color: $lightgrey;
    color: $green;
    height: 40px;
    h3 {
      padding-left: 30px;
      padding-top: 13px;
    }
  }

}
